<span ng-if="current.language == 'ky'">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Сулайман-Тоо</span>
      <p><b>Сулайман-Тоо</b> — Кыргызстандын, Ош шаарындагы ыйык тоо. 2009-жылдын июнь айында Дүйнөлүк Мурастарына кирген биринчи мамлекеттеги эстелик[1]. Сулайман тоосу Ош шаарынын так ортосунда, Ак-Буура суусунун сол жээгинен орун алган. Узундугу – 3 км, туурасы – 1,5–2 км, деңиз деңгээлинен бийиктиги 1176 м. Салыштырмалуу бийиктиги 300–350 м. Сулайман-Тоо – улуттук тарыхый-археологиялык музей-комплекс.Кээ бирөөлөр тоону чөгүп жаткан төөгө окшоштурушат. Сыйынуучулардын саны бир жылда 16-17 миң адамды түзөт. XVI кылымга чейин Сулайман-Тоо Баара-Кух деп аталганы маалым.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Чокулардын аталыштары</span>
      <p>Тоодо 5 чоку бар: 1) Баара-Таг же Сулайман тоо. Мында Бабурдун үйү (музейи жайгашкан). 2) Шор-Таг (“Ак туздуу чоку” дегенди түшүндүрөт). 3) Рушан-Таг (“Эң бийик”, “эң жарык” деген маанини берет). 4) Ээр-Таг (“Ээрге окшош тоо”). Чокунун түндүк капталы көрүнүшүнө жараша Каттама-Таш деп аталат. 5) Кекилик-Учар.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Үңкүрлөр</span>
      <p>1) Биринчи чокуда эки үңкүр жайгашкан. Түндүк жагындагы бирөөсү барууга мүмкүн эмес жерде. Аталышы да жок, изилденбеген дагы. Экинчиси – Чакатамар. «Чакатамар» сөзү “тамчы” дегенди билдирет. Бул үңкүр барган адам үчүн таңкалычтуу, сүрдүү. Ал жерге кирчү жол өтө кууш. Бир адам батчу тар жол менен сойлоп киресиң. Шам жаксаң ичинен ачылып турган китеп сыяктуу таш көрүнөт. Аалымдар анда курандын “Аятолл курси” аятынан үзүндү бар экендигин айтышат. Жазында үңкүрдүн төбөсүнөн тамчы таамп турат. Жайында боорун сыйпаласаң кол нымдашып калат. Тамчынын дарылык касиети бар делет. 2) Экинчи чокунун капталында Тепе-Үңкүр (Бийиктеги үңкүр) жайгашкан. 3) Ушул эле 2-чокуга Чилтен-Хан (Тешик-Таш деп да аталат) үңкүрү тийиштүү. Мунун 3 оозу бар. 4) Үчүнчү чокуга тиешелүү кезектеги үңкүр Ишен-Үңкүр деген атка ээ (элдер “ой жүгүртүүгө арналган үңкүр” дешет). Ушул эле чокуда Руша-Үңкүрү (Бүркүттөр үңкүрү) да жайгашкан. Бул эң чоң үңкүр. Учурда мында музей орун алган. Үңкүрдүн чыга беришинде петроглифтер сакталып калган. 6) 5-чокуда жайгашкан үңкүр Хуркыз (Үркыздар же нур кыздар дегенди билдирет) деп аталат. Уламышка караганда, бул жерди Үркыздын жаны (духу) байырлайт.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Ыйык жайлары</span>
      <p>Бел таштан бели, бөйрөгү ооруган адамдар 7 жолу сыйгаланып түшүшөт. Ден соолугу начар, жашы өтүп калган адамдар 3 же 1 ирет сыйгаланууга тийиш. Маалыматтарга караганда, шыпаа тапкандар көп.</p>
      <p>Кол таш деп аталган жайга сыйынганы келгендер ооруган колун салып, ичинен тилек тилешет. “Жакшылап көңүл бурган адам манжаларынын учу чымыраганын сезет” деп айтылат.</p>
      <p>Бешик энеге балалуу болбой жүргөндөр көп келишет. Андагы көзөнөк ташты эки колу менен кармап, маңдайын ага тийгизип, ичинен тилек тилешет. Сыйынгандардын тилеги кабыл болгон мисалдар көп.</p>
      <p>Хуркызга кыз-келиндер барышат жана өзүлөрүнүн аруу-тилектерин айтышып, Жараткандан аларды ишке ашыруусун суранышат. Эркектер сыйынуучу жай Кырк чилтен деп аталат. Уламышта бул үңкүр – жигит пири Шаймерден түнөп кеткен ыйык жай. Жоокерчилик заманда жоого аттанар эр-жигиттер ошол жерге барып сыйынышчу экен.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Сулайман тоо мечити же Бабурдун үйү</span>
      <p>Бул жай ХVI кылымга таандык архитектуралык эстеликтин үлгүсү болуп эсептелет. Улуу Моголдор династиясынын негиз салуучусу, акын жана ойчул Бабур Захиреддин Мухаммеддин үйүн эл Сулайман тоо мечити деп да аташат. Бубур айтылуу Амир Темирдин (убагында борбору Самарканд болгон Мавераннахр өлкөсүнүн ханы) урпагы болгон жана 1483-1530-жылдары жашаган. 11 жашында атасынын ордуна Фергананын ханы болуп дайындалган. Кийин Түндүк Индияны басып алып, анда Улуу Моголдор өлкөсүн негиздеген.</p>
      <p>Бабурдун үйүнө барган сыйынуучулардын суранычы менен мечиттин ичинде отурган молдолор рухтарга арнап куран окушат. Бабур өзүнүн “Бабур-наме” деген китебинде Ош шаары жана Сулайман тоосу тууралуу жакшы пикирлерди жазып калтырган. Китебинде Оштун абасы таза, аккан суусу көп экендигин, тоонун кырына сөрүлүү имарат салдырганын да камтыган.</p>
      <p>Атеисттер 1963-жылы Бабурдун үйүн буздуруп салышкан. Кийин 1991-жылы сакталып калган материалдардын жардамы менен бул тарыхый эстелик кайра калыбына келтирилген.</p>
      <p>Сулайман тоосунда жогорудагылардан тышкары XVI кылымга таандык Рават-Абдулла хандын мечити жана XVIII кылымга таандык Асаф-ибн-Бурхиянын күмбөзү жайгашкан. Күмбөздүн кире бериши өтө кооз оймо-чиймелер менен кооздолгон.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Кызыктуу фактылар</span>
      <p>Тоонун чокусунда Бабурдун башкаруусунда пайда болгон «Тахты Сулайман» мечити жайгашкан (1963ж. жардырылып, 1991ж. сакталып калган материалдардын негизинде кайра курулган).</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Атагы чыккан жерлер</span>
      <p>Тоонун чокусуна тарыхчылар Бабур башкарып турган (1991-жылы сакталып материалдары боюнча, 1963-жылы бомбалашты жана калыбына келтирилген) менен сүйлөшө турган мечит "Сулайман Осмон" болуп саналат. Тоонун этегине да архитектура эстеликтери - мечитке "Rawat-Абдулла", XVI кылымдан бери келаткан жана жакында калыбына келтирилип, жана күмбөз Asaf бин Burhiya (XVIII кылым).</p>
      <p>Тоосунда Сулайман-Тоо жети тешик, аларга белгилүү, "Чакка тамар" жана "Тепеүнкүр" жатат. Тоонун чыгыш этегинде ушу XI-XIV кылымдарда курулган орто зал. Түндүк менен түштүктү Сулайман эки канал курчап.</p>
    </div>
  </div>
</span>
<span ng-if="current.language == 'ru'">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Сулайма́н-То́о</span>
      <p><b>Сулайма́н-То́о</b> (кирг. Сулайман-Тоо, узб. Сулаймон тог) — священная гора в городе Ош на юге республики Киргизии, которая в июне 2009 года стала первым в стране памятником Всемирного наследия.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Имена пиков</span>
      <p>Горы, с пиком 5: План 1) или горы Сулайман. Дом Бабура (музей). 2) соль-план (что означает «белые соленые акции»). 3) Рушан-Plan ( "Очень высокий", что означает "свет"). (4) седло-план «который работает как гора»). В зависимости от внешнего вида северной стороны пики называется Pie-Таш. 5) перепела-Uchar.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Пещеры</span>
      <p>1) Первый расположен на двух верхних пещеры. Никто не может идти к северу отсюда. Существует также название неизведанного. Çakatamar второй. Çakatamar слово, которое означает «падение». Это странно для человека, который пошел на страшную пещеру. Он был назначен на землю является слишком узким. Размещенный один человек войдет в узкую дорогу и рептилии. Свеча выглядит пыл открытой книги. Ученые, которые говорят, что есть процитировать стих из Корана, «скорость аятолла». Весной, падение падения с верхней частью пещеры. Наклон лета sıypalasaŋ влажный. Есть ли падение исцеления. 2) Второй пик расположен высоко на стороне Тепе пещеры (пещеры). 3) Тот же 2-Chilten пик Хан (также называется сектор-Таш пещеры). 3 во рту. 4) В-третьих, в зените следующей пещере украденной -Думаю людей, которые имеют такое же имя ( «пещера»). В том же холме Рушан, расположенный в пещере в пещере (орлы). Это самая большая пещера. В случае, когда музей находится. На выходах из пещеры петроглифов были спасены. (5, 6) расположен на верхней части пещеры Hurkız Ürkızdar или свет означает, что девочки называется). Согласно легенде, это больше, чем душа Ürkızdın (дух).</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Святые места</span>
      <p>Люди, страдающие от боли в пояснице, камни в почках, брошенный 7 ногой. Люди в плохое состояние здоровья, старости, должен быть 3 или 1 раз проскальзывает. По данным ведомства, и найти лекарство для многих.</p>
      <p>Камень в руки пациентов, которые хотят молиться в месте под названием хлынули внутрь. «Пристальное внимание к человеческим пальцам можно почувствовать толчки,» добавил он.</p>
      <p>Те, кто не может иметь детей в колыбели. Запасы и камни в него, касаясь его лоб обеими руками, и навернулся. Есть много примеров истинного поклонения.</p>
      <p>Hurkızga женщины идут и которые выражали свои искренние стремления, и попытаться их реализовать. Известен как место поклонения, и сорок человек. Легенда этой пещеры - покровитель молодого человека поселила Шаймерден святилище. Время ответственность отважных, молодых мужчин может начаться в том же месте поклонения.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Сулайман горный дом или мечеть Бабура</span>
      <p>Это является частью архитектурного памятника XVI века в дизайне. Основатель династии Великих Моголов, поэта и философа Мухаммада Бабура Zahireddin дом, Соломон назвал мечеть горы. Bubur известен во эмира (железа в центре Самарканда Mavera Хан) был потомком страны и в годы 1483-1530. В возрасте 11 лет, его отец был назначен ханом в Ферганской долине. После Северной Индии, а затем основал страну Великих Моголов.</p>
      <p>Бабур, с просьбой к дому молящихся внутри мечети клириков сидит посвященный духам и читать Коран. Бабур «Бабур Anci-гора книга под названием» город Ош, и Соломон писали о хороших обзорах. Есть много цемента, протекающий свежий воздух и воду, в горной эстакаде, которая включает в себя имплантацию здания.</p>
      <p>Дом атеистов Бабура был разрушен в 1963 году. В 1991 году, после того, как материалы были сохранены восстановлены с помощью этого исторического памятника.</p>
      <p>В дополнение к вышесказанному, монтирование в XVI веке Рават Соломон, Абдулла мечеть Хан и XVIII века, гробница Асафа ибн Burhiyanın находится. Вход в мавзолей украшен красивыми украшениями.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Интересные факты</span>
      <p>Вершина горы, появилась контроль над Бабуром Тахты Соломона Мечети расположен. (1963j разобранном с 1991 года, построенным на основе остается материал.).</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Примечательные места</span>
      <p>На вершине горы находится мечеть «Тахты Сулайман», которую историки относят к правлению Бабура (взорвана в 1963 году и восстановлена по сохранившимся материалам в 1991 году). У подножья горы также находятся памятники архитектуры - мечеть «Рават-Абдуллахана», которая датируется XVI веком и была недавно восстановлена, и мавзолей Асафа ибн Бурхия (XVIII век).</p>
      <p>На горе Сулайман-Тоо расположены семь пещер, известные из них это «Чакка тамар» и «Тепеункур». У восточного подножья горы находится средневековая баня, предположительно построенная в XI-XIV вв. С севера и юга Сулайман-Тоо огибают два канала.</p>
    </div>
  </div>
</span>
<span ng-if="current.language == 'en'">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Sulaiman-Too</span>
      <p><b>Sulaiman-Too</b> (Kirghiz Sulaiman-Too, Sulaymont tomb) is a sacred mountain in the city of Osh in the south of the Kyrgyz Republic, which in June 2009 became the first World Heritage site in the country.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Names of peaks</span>
      <p>Mountains, with peak 5: Plan 1) or Mount Sulaiman. Babur's house (museum). 2) salt plan (which means "white salt shares"). 3) Rushan-Plan ("Very high", which means "light"). (4) a saddle-plan "that works like a mountain"). Depending on the appearance of the north side of the peak called Pie-Tash. 5) quail-Uchar.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">The caves</span>
      <p>1) The first is located on the top two caves. No one can go north of here. There is also the name of the unknown. Çakatamar second. Çakatamar is a word that means "falling." This is strange for a man who went to a terrible cave. He was assigned to the ground is too narrow. Placed one man will enter a narrow road and reptiles. The candle looks like the heat of an open book. Scientists who say that there is a quote from the Quran, "the speed of the ayatollah." In spring, fall falls with the top of the cave. The slope of summer sıypalasaŋ is wet. Is there a fall of healing. 2) The second peak is located high on the Tepe cave side (cave). 3) The same 2-Chilten peak Khan (also called sector-Tash cave). 3 in the mouth. 4) Thirdly, at the zenith of the next cave stolen-I think people who have the same name ("cave"). In the same hill Rushan, located in a cave in a cave (eagles). This is the largest cave. In the case when the museum is located. Petroglyphs were rescued at the exits from the cave. (5, 6) is located on the top of the cave Hurkız Ürkızdar or light means that the girl is called). According to legend, this is more than the soul of Ürkızdın (spirit).</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Holy places</span>
      <p>People suffering from low back pain, kidney stones, thrown 7 feet. People in a poor state of health, old age, should be 3 or 1 times slips. According to the department, and find a cure for many.</p>
      <p>Stone in the hands of patients who want to pray in a place called gushing inside. "Attention to human fingers can be felt," he added.</p>
      <p>Those who can not have children in the cradle. Stocks and stones in it, touching his forehead with both hands, and ducked. There are many examples of true worship.</p>
      <p>Hurkızga women go and who express their sincere aspirations, and try to implement them. Known as a place of worship, and forty people. The legend of this cave - the patron of the young man has settled Shaimerden sanctuary. The time of responsibility of the brave, young men can begin in the same place of worship.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Sulaiman Mountain House or Babur Mosque</span>
      <p>This is part of the architectural monument of the 16th century in design. The founder of the Mughal dynasty, poet and philosopher Muhammad Babur Zahireddin House, Solomon called the mountain mosque. Bubur is known in the emir (iron in the center of Samarkand Mavera Khan) was a descendant of the country and in the years 1483-1530. At the age of 11, his father was appointed khan in the Fergana Valley. After North India, and then founded the country of the Great Moguls.</p>
      <p>Babur, asking the house of worshipers inside the mosque of the clergy, sits dedicated to the spirits and read the Koran. Babur "Babur Anci-mountain book called" the city of Osh, and Solomon wrote about good reviews. There is a lot of cement, flowing fresh air and water, in the mountain overpass, which includes the implantation of the building.</p>
      <p>The house of atheists Babur was destroyed in 1963. In 1991, after the materials were preserved restored using this historical monument.</p>
      <p>In addition to the above, the installation in the XVI century Ravat Solomon, Abdullah Khan mosque and the XVIII century, the tomb of Asaph ibn Burhiyanın is located. The entrance to the mausoleum is decorated with beautiful ornaments.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Interesting Facts</span>
      <p>The top of the mountain, the control over Babukh Takhta Solomon Mosque is located. (1963j disassembled since 1991, based on the material remains.).</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Noteworthy places</span>
      <p>At the top of the mountain is the mosque "Takhty Sulaiman", which historians refer to the reign of Babur (blown up in 1963 and rebuilt according to the surviving materials in 1991). At the foot of the mountain there are also monuments of architecture - the mosque "Ravat-Abdullahan", which dates back to the 16th century and was recently restored, and the mausoleum of Asaf ibn Burkhia (XVIII century).</p>
      <p>There are seven caves on Mount Sulaiman-Too, known among them are "Chakka Tamar" and "Teepunkurk". At the eastern foot of the mountain there is a medieval bathhouse, supposedly built in the 11th-14th centuries. From the north and south of Sulaiman-Too the two canals pass around.</p>
    </div>
  </div>
</span>
