<div class="navbar-fixed">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" ui-sref="app.index" class="brand-logo">{{ language.app.name }}</a>
      <ul class="right hide-on-med-and-down">
        <li><a tooltips tooltip-side="bottom" tooltip-template="{{ language.home }}" class="waves-effect waves-light" href="#" ui-sref="app.index"><i class="material-icons">home</i></a></li>
        <li><a tooltips tooltip-side="bottom" tooltip-template="{{ language.about }}" class="waves-effect waves-light" href="#" ui-sref="app.about"><i class="material-icons">assignment</i></a></li>
        <li><a tooltips tooltip-side="bottom" tooltip-template="{{ language.pictures }}" class="waves-effect waves-light" href="#" ui-sref="app.pictures"><i class="material-icons">satellite</i></a></li>
        <li><a tooltips tooltip-side="bottom" tooltip-template="{{ language.history }}" class="waves-effect waves-light" href="#" ui-sref="app.history"><i class="material-icons">event_note</i></a></li>
        <li><a tooltips tooltip-side="bottom" tooltip-template="{{ language.geography }}" class="waves-effect waves-light" href="#" ui-sref="app.geography"><i class="material-icons">terrain</i></a></li>
        <li><a tooltips tooltip-side="bottom" tooltip-template="Кыргызча" ng-click="changeLanguage('ky');" class="waves-effect waves-light">KG</a></li>
        <li><a tooltips tooltip-side="bottom" tooltip-template="Русский" ng-click="changeLanguage('ru');" class="waves-effect waves-light">RU</a></li>
        <li><a tooltips tooltip-side="bottom" tooltip-template="English" ng-click="changeLanguage('en');" class="waves-effect waves-light">EN</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a class="waves-effect waves-light" href="#" ui-sref="app.index"><i style="margin-right: 15px;" class="material-icons">home</i>{{ language.home }}</a></li>
        <li><a class="waves-effect waves-light" href="#" ui-sref="app.about"><i style="margin-right: 15px;" class="material-icons">assignment</i>{{ language.about }}</a></li>
        <li><a class="waves-effect waves-light" href="#" ui-sref="app.pictures"><i style="margin-right: 15px;" class="material-icons">satellite</i>{{ language.pictures }}</a></li>
        <li><a class="waves-effect waves-light" href="#" ui-sref="app.history"><i style="margin-right: 15px;" class="material-icons">event_note</i>{{ language.history }}</a></li>
        <li><a class="waves-effect waves-light" href="#" ui-sref="app.geography"><i style="margin-right: 15px;" class="material-icons">terrain</i>{{ language.geography }}</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" data-sidenav="left" data-closeonclick="true" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
<br />
<div class="container">
  <div ui-view></div>
</div>

<footer class="page-footer blue">
  <div class="footer-copyright">
    <div class="container">
      &copy; {{ language.app.name }} by ОшТУ 2017
    </div>
  </div>
</footer>
