<span ng-if="current.language == 'ky'">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Географиялык абалы</span>
      <p>Сулайман-Тоосу (мурдагы Бера-кух) Ош шаарынын так ортосунда. Ак-Буура суусунун сол жээгинен орун алган. Узундуг 3 км туурасы 1,5–2 км, деңиз деңгээлинен бийиктиги 1176 м. Салыштырмалуу бийикт. 300–350 м. Палеозойдун акиташ тектеринен турат. Капталдары тик, аскалуу. Этегинде жана курчап турган түздүктөрүндө төртүнчүлүк мезгилдин борпоң тектери жатат. Тоо капталдарына майда бадал аралаш жарым чөл ландшафты мүнөздүү. Сулайман тоонун чыгыш жана батыш тараптарында анчалык бийик эмес калдык тоолор (Ортотоо, Чилмайрам,Чилустун ж. б.) жайгашкан.</p>
    </div>
  </div>
</span>
<span ng-if="current.language == 'ru'">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Географическое положение</span>
      <p>Сулейман Гора (бывший Бар-Kukh) в центре города. Ак-Бура реки, расположен на левой стороне. 3 км в длину и ширину 1,5-2 км, а высота 1176 м над уровнем моря. Относительные высоты. 300-350 м. Палеозоя известняк. Склоны крутые и скалистые. И окружающие равнины у подножия четвертого периода рыхлых пород. Куст мая на горных склонах смешанных полупустынных ландшафтов. Solomon восточной и западной стороны горы, между гор, не очень высокий (Çilmayram Çilustun. Б.).</p>
    </div>
  </div>
</span>
<span ng-if="current.language == 'en'">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Geographical position</span>
      <p>Suleiman Gora (formerly Bar-Kukh) in the city center. Ak-Bura River, is located on the left side. 3 km long and 1.5-2 km wide, and a height of 1176 m above sea level. Relative heights. 300-350 m. Paleozoic limestone. The slopes are steep and rocky. And the surrounding plains at the foot of the fourth period of loose rocks. May bush on the mountain slopes of mixed semi-desert landscapes. Solomon east and west side of the mountain, between the mountains, not very high (Çilmayram Çilustun B.).</p>
    </div>
  </div>
</span>
