<span ng-if="current.language == 'ky'">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Тарыхы</span>
      <p>Тоонун аталышы Сулайман пайгамбардын (Инжилдеги Соломон) аты менен байланыштуу. Акылмандыгы жана кең пейилдиги үчүн Кудай ага 500 жин зорго көтөрүп жүрө турган таштан жасалган так белек кылат. Пайгамбардын буйругу менен жиндер такты алыскы жакты көздөй көтөрүп жөнөшөт. Жүрүп отуруп, акыры абасы таза, чокусун кар баскан тоосу бар жерге алып келишет. Пайгамбар мына ошол жерди гүлзардуу жерге айланткысы келет. Бирок, мында суу жок болгондуктан, жиндерге мөңгүлөргө кеткен жолдогу тоскоолдуктарды жок кылып, дарыяга нук салууга буйрук берет. Ошентип, Ак-Буура дарыясы пайда болот. Ал эми пайгамбардын тагы коюлган тоо Сулайман так, Сулайман-Тоо деген атакка конот.</p>
      <p>Сулайман тоо Өзгөн канынын вазири Султан Мази Сулаймандын (15-к-дын башы) ысмынан аталган. Вазир Сулайман тоону жайкы резиденциясына айландырган. Жергиликтүү эл жана четтен келгендер тоого чыгышып, жөн гана сейилдешкен.Эл көп каттагандыгынан пайдаланып, дин кызматкерлери тоону тотемдик даражага жеткиришип, ислам динин таратуучу майданга (аренага) айландырышкан. Дин кызматкерлери Сулайман пайгамбардын тактысынын табылгандыгы жөнүндө сөз таратышкан. Өзгөн вазири Сулайман пайгамбарга, ал эми анын эс алуучу жайы Сулайман тактысына айланып, «ыйык» даңкка ээ болгон. З. Бобур тоого эс алып олтура турган жай (Кужура) курдурган. Азыр чокусуна түтүк менен суу чыгарылып,айланасына бак-дарак тигилип, жашылдандырылып, эмгекчилердин эс алуучу жайына айланды. Боорунан үңкүр казылган. Түштүк Кыргызстандын тарыхы менен тааныштыруучу бир нече залдан турган өзүнчө оригиналдуу музей жайгаштырылды. Сулайман-Тоо 1972-жылдан геологиялык заказник.</p>
    </div>
  </div>
</span>
<span ng-if="current.language == 'ru'">
  <div class="card">
    <div class="card-content">
      <span class="card-title">История</span>
      <p>Гора представляет собой пятиглавый известковый останец, вытянутый с запада на восток. Длина его более 1140 м, ширина — 560 м. Она издревле имела сакральное значение, о чём свидетельствуют сохранившиеся петроглифы. На склоне горы устроен музей её истории. До XVI века гора называлась Бара-Кух, затем, вплоть до XX века, — Тахты-Сулейман («трон Соломона»).</p>
      <p>В 2010 у подножия горы началась стройка «временных домов» для населения пострадавших от беспорядков улиц Оша, что вызывает определённые опасения у историков и культурологов.</p>
      <p>29 июня 2009 года гора Сулайман-Тоо в Киргизии была включена в Список Всемирного наследия ЮНЕСКО [1]. 1 июня 2011 года представитель ЮНЕСКО в Казахстане, Кыргызстане, Таджикистане и Узбекистане, директор кластерного бюро ЮНЕСКО Сергей Лазарев вручил Президенту Кыргызской Республики Розе Отунбаевой сертификат о включении священной горы Сулайман-Тоо в Список всемирного наследия.</p>
    </div>
  </div>
</span>
<span ng-if="current.language == 'en'">
  <div class="card">
    <div class="card-content">
      <span class="card-title">History</span>
      <p>The mountain is a five-headed calcareous remains stretched from west to east. Its length is more than 1140 m, width - 560 m. It has been sacred since ancient times, as evidenced by the preserved petroglyphs. On the slope of the mountain there is a museum of its history. Until the 16th century the mountain was called Bara Kukh, then, until the 20th century, Takhta-Suleiman ("the throne of Solomon").</p>
      <p>In 2010, at the foot of the mountain construction of "temporary houses" for the people affected by the riots of the streets of Osh began, which causes certain concerns among historians and culturologists.</p>
      <p>On June 29, 2009, Mount Sulaiman-Too in Kyrgyzstan was included in the UNESCO World Heritage List [1]. On June 1, 2011, the UNESCO representative in Kazakhstan, Kyrgyzstan, Tajikistan and Uzbekistan, the Director of the UNESCO Cluster Office, Sergey Lazarev, presented the President of the Kyrgyz Republic Roza Otunbayeva with a certificate on including the sacred Sulaiman-Too Mountain in the World Heritage List.</p>
    </div>
  </div>
</span>
