<div class="card">
  <div class="card-content">
    <div class="slider" slider>
      <ul class="slides">
        <li><img src="/images/m1.jpg"></li>
        <li><img src="/images/m2.jpg"></li>
        <li><img src="/images/m3.jpg"></li>
        <li><img src="/images/m4.jpg"></li>
        <li><img src="/images/m5.jpg"></li>
      </ul>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span ng-if="current.language == 'ky'"><b>Сулайман-Тоо</b> — Кыргызстандын, Ош шаарындагы ыйык тоо. 2009-жылдын июнь айында Дүйнөлүк Мурастарына кирген биринчи мамлекеттеги эстелик[1]. Сулайман тоосу Ош шаарынын так ортосунда, Ак-Буура суусунун сол жээгинен орун алган. Узундугу – 3 км, туурасы – 1,5–2 км, деңиз деңгээлинен бийиктиги 1176 м. Салыштырмалуу бийиктиги 300–350 м. Сулайман-Тоо – улуттук тарыхый-археологиялык музей-комплекс.Кээ бирөөлөр тоону чөгүп жаткан төөгө окшоштурушат. Сыйынуучулардын саны бир жылда 16-17 миң адамды түзөт. XVI кылымга чейин Сулайман-Тоо Баара-Кух деп аталганы маалым.</span>
    <span ng-if="current.language == 'ru'"><b>Сулайма́н-То́о</b> (кирг. Сулайман-Тоо, узб. Сулаймон тог) — священная гора в городе Ош на юге республики Киргизии, которая в июне 2009 года стала первым в стране памятником Всемирного наследия.</span>
    <span ng-if="current.language == 'en'"><b>Sulaiman-Too</b> (Kirghiz Sulaiman-Too, Sulaymont tomb) is a sacred mountain in the city of Osh in the south of the Kyrgyz Republic, which in June 2009 became the first World Heritage site in the country.</span>
  </div>
</div>

<div map-lazy-load="https://maps.google.com/maps/api/js"
  map-lazy-load-params="{{googleMapsUrl}}">
  <ng-map center="40.5307459,72.7749341" zoom="15" tilt="45" map-type-id="SATELLITE">
    <marker position="40.5307459,72.7749341"></marker>
  </ng-map>
</div>
